<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span>Категории</span>
            </h4>
        </div>
        <div class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"
                        *ngFor="let category of categories"
                        (click)="fetchSubCategories(category)">
                        <span class="badge">14</span> {{category.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>