<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <fieldset>
                    <legend>Account information</legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Login</label>
                        <div class="col-md-6">
                            <input class="form-control input-md" type="text">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">E-mail</label>
                        <div class="col-md-6">
                            <input class="form-control input-md" type="email">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Password</label>
                        <div class="col-md-6">
                            <input class="form-control input-md" type="password">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Confirm password</label>
                        <div class="col-md-6">
                            <input class="form-control input-md" type="password">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <fieldset>
                    <legend>Profile information</legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label">First name</label>
                        <div class="col-md-6">
                            <input class="form-control input-md" type="text">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Last name</label>
                        <div class="col-md-6">
                            <input class="form-control input-md" type="text">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address</label>
                        <div class="col-md-6">
                            <input class="form-control input-md" type="text">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Phone</label>
                        <div class="col-md-6">
                            <input class="form-control input-md" type="text">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>