<div class="row margin-bottom-20-px">
    <div class="col-md-offset-10 col-md-2">
        <a class="btn btn-success" routerLink="../add">
            Новая категория <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th class="col-md-5">Название категории</th>
        <th class="col-md-5">Родительская категория</th>
        <th class="col-md-2">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of page.content">
        <td class="col-md-5">{{category.name}}</td>
        <td class="col-md-5">{{category.parentName}}</td>
        <td class="col-md-2">
            <a class="btn btn-primary" role="button">
                Изменить <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<ng-pagination [page]="page" (onPageChange)="onPageChange($event.pageRequest)"></ng-pagination>