<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Web Store</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/">Главная</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Каталог</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/registration">
                        <span class="glyphicon glyphicon-user"></span><span> Регистрация</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/login">
                        <span class="glyphicon glyphicon-log-in"></span><span> Вход</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>