<div class="container-fluid">
    <div class="row"><!--Filter section--></div>
    <div class="row">
        <div class="col-md-3">
            <web-store-category></web-store-category>
        </div>
        <div class="col-md-9">
            <!--TODO: Just mock-up will be moved to another component -->
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="https://shop.kyivstar.ua/media/cache/product_card/https---r1.shop.kyivstar.ua/public/img/uploads/products/57ff541acc698.jpg" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="https://shop.kyivstar.ua/media/cache/product_card/https---r1.shop.kyivstar.ua/public/img/uploads/products/57ff541acc698.jpg" alt="">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="https://shop.kyivstar.ua/media/cache/product_card/https---r1.shop.kyivstar.ua/public/img/uploads/products/57ff541acc698.jpg" alt="">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of mock-up -->
        </div>
    </div>
</div>