<div class="container-fluid">
    <div class="row"><!--Filter section--></div>
    <div class="row">
        <div class="col-md-3">
            <web-store-category></web-store-category>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4" *ngFor="let product of page.content">
                    <div class="thumbnail">
                        <img src="https://www.buehler.com/images/buttons/Product_Icon.png" alt="...">
                        <div class="caption">
                            <!--TODO: Investigate how to solve text overflow-->
                            <span>{{product.name}}</span>
                            <p>...</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-success" role="button">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> Купить
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <span class="price">{{product.price}} грн.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-pagination [page]="page" (onPageChange)="onPageChange($event.pageRequest)"></ng-pagination>
        </div>

    </div>
</div>
<style>
    .price {
        font-size: 1.5em;
    }
</style>